@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Restablecer la clave de la aplicación de autenticación";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Si restableces la clave de tu aplicación de autenticación, esa aplicación dejará de funcionar hasta que la vuelvas a configurar.</strong>
    </p>
    <p>
        Este proceso desactiva la 2FA hasta que verifiques de nuevo tu aplicación de autenticación. Si no
        completas la configuración de tu aplicación, podrías perder el acceso a tu cuenta.
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Restablecer clave</button>
    </form>
</div>
