@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Autenticación en dos pasos";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<Microsoft.AspNetCore.Http.Features.ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>No te quedan códigos de recuperación.</strong>
                    <p>Debes <a asp-page="./GenerateRecoveryCodes">generar nuevos códigos de recuperación</a> antes de poder acceder con un código de recuperación.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Te queda 1 código de recuperación.</strong>
                    <p>Puedes <a asp-page="./GenerateRecoveryCodes">generar nuevos códigos de recuperación</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Te quedan @Model.RecoveryCodesLeft códigos de recuperación.</strong>
                    <p>Deberías <a asp-page="./GenerateRecoveryCodes">generar nuevos códigos de recuperación</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post">
                    <button type="submit" class="btn btn-primary">Olvidar este navegador</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Desactivar 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Restablecer códigos de recuperación</a>
        }

        <h4>Aplicación de autenticación</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configurar aplicación de autenticación</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configurar aplicación de autenticación</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Restablecer aplicación de autenticación</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>La política de privacidad y de cookies aún no se ha aceptado.</strong>
            <p>Debes aceptar la política antes de poder activar la autenticación en dos pasos.</p>
        </div>
    }
}
