@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña restablecida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña se ha restablecido. <a asp-page="./Login">Accede aquí</a>.
</p>
